body{
    color: white;
    background-color:rgb(255, 80, 188);

}

.heading{
    width:65%;
    font-size:25px;

}
.OBJECTS{
    font-size:20px;
    color:rgb(165, 31, 192);
}
#webcamera{
    border:2px solid rgb(146, 43, 103);
    width:350px; 
    height:300px;
} 
